@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
/*@import "tailwindcss/preflight";*/
/*@tailwind utilities;*/
/*@tailwind utilities;*/

@source "../node_modules/@acmecorp/ui-lib";

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.no-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Hide scrollbar for IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none !important; /* IE 10+ */
  scrollbar-width: none !important; /* Firefox */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}
